SIM_TIME_IN_DAYS=365
P_LAMBDA_RANGE_PER_HOUR=0.003,0.005
P_REPAIR_MEAN=20.0
P_REPAIR_SIGMA=10.0
C_LAMBDA_RANGE_PER_HOUR=0.00022,0.00032
C_REPAIR_MEAN=120.0
C_REPAIR_SIGMA=100.0
MT_INTERVAL_IN_DAYS=13.0
MT_DURATION_IN_DAYS=1.0
NUM_JOB=100
NUM_REPLICA=3
NUM_TASK_TYPE=0
UTILIZATION=0.6
NUM_CLUSTER=12
NUM_PART=12
NUM_LZ=6
NUM_CLUSTER_PER_CLUSTER=6000